body {
    margin: 12% 0 0;
    padding: 0 0 70px;
    font-family: sans-serif;
}

textarea.form-control {
    height: 300px;
    max-width: 100%;
}

.content {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

.content *:first-child {
    margin-top: 0;
}

footer {
    color: #dddddd;
}

footer a {
    color: #dddddd;
    text-decoration: underline;
}

footer p {
    margin-top: 10px;
}

footer i {
    color: #ff0000;
}
