html, body, #root, .container-fluid, .pomodoro-container {
    height: 100%;
}

body {
    margin: 0;
    padding: 0 0 70px;
    font-family: sans-serif;
}

button {
    margin: 5px;
}

.pomodoro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pomodoro-clock {
    border-radius: 50%;
    border: 2px solid #2780e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 200px;
    height: 200px;
}

.pomodoro-clock p {
    font-size: 1.2em;
    margin: -30px 0 0;
}

.pomodoro-clock h3{
    font-size: 3.5em;
    margin: 0;
}

.action div {
    display: inline-block;
    margin: 0 15px;
}

.action div input {
    display: inline-block;
    width: 80px;
}

footer {
    color: #dddddd;
}

footer p {
    margin-top: 10px;
}

footer i {
    color: #ff0000;
}
