body {
    margin: 0;
    padding: 0 0 70px;
    font-family: sans-serif;
}

.logo {
	width: 60px;
	height: 60px;
}

.media-right p {
    margin-bottom: 0;
}

footer {
    color: #333333;
}

footer p {
    margin-top: 10px;
}

footer i {
    color: #ff0000;
}
