body {
    margin: 15%;
    padding: 0 0 70px;
    font-family: sans-serif;
}

.weather {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin: auto;
    padding: 5px 0 25px;
    text-align: center;
    width: 400px;
}

footer {
    color: #dddddd;
}

footer p {
    margin-top: 10px;
}

footer i {
    color: #ff0000;
}
