body {
    margin: 0;
    padding: 0 0 70px;
    font-family: sans-serif;
}

.navbar-static-top {
    margin-bottom: 30px;
}

.navbar-static-top h2 {
    margin: 10px;
}

footer {
    color: #444444;
}

footer p {
    margin-top: 10px;
}

footer i {
    color: #ff0000;
}
